body{
    background-color:#1F1F1F;
}
#btn{
    display: flex;
    justify-content: end;
    width: 50%;
    margin: auto;
    background-color: #1F1F1F;
    color: white;
    margin-bottom: 10px;
}
button{
    background-color: #5E5E5E;
    border-radius: 5px;
    border-color: #5E5E5E;
}
#todosContainer{
    width: 50%;
    margin: auto;
    background-color: #303030;
    color: white;
}
table{
    width: 100%;
}
table,td,th{
    border: 2px solid gray;
    border-collapse: collapse;
}
table th{
    color: wheat;
    padding: 8px;
    text-align: center;
}
table td{
    padding: 8px;
    text-align: center
}
table tr:hover{
    background-color: #1F1F1F;
}